.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

button {
  font-size: 20px;
  margin: 5px;
  background-color: lightseagreen;
}


img {
  height: 350px;
  width: 250px;
  padding: 10px;
}

.description {
  text-align: center;
  height: 350px;
  width: 250px;
}

/* .flex-container {
  background-color: blue;
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  margin: 20px;
  border-radius: 2%;
}

.flex1 {
  background-color: pink;
  width: 300px;
  height: 400px;
}

.flex2 {
  background-color: greenyellow;
  width: 300px
} */

.grid {
  display: inline-block;
  margin: 50px;
  background-color: pink;
}